<div class="row mx-auto">
    <div class="col">
        <app-pokemon [pokemonId]="1" [turnoPokemon]="turnoJugador2()" (turnoCambiado)="cambiarTurno()" (nombrePokemon)="actualizarNombre($event)" (vidaCambiada)="actualizarVidaPlayer1($event)"></app-pokemon>
    </div>
    <div class="col text-center align-content-center">
        <h2>Turno de: {{ currentPokemonName }}</h2>
    </div>
    <div class="col">
        <app-pokemon [pokemonId]="10" [turnoPokemon]="turnoJugador1()" (turnoCambiado)="cambiarTurno()" (nombrePokemon)="actualizarNombre($event)" (vidaCambiada)="actualizarVidaPlayer2($event)"></app-pokemon>
    </div>
</div>