<div class="row border-5 w-50 fondo text-white text-center border-black mt-5 mx-auto">
    <div class="col-12 row">
        <div class="fondoResultado col-6 rounded-4 py-4 mt-2 ms-5">
            <p>{{mostrar}}</p>
        </div>
        <div class="col-5 py-4">
            <button mat-stroked-button (click)="limpiar()">Limpiar</button>
        </div>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button class="bg-primary" (click)="entrada('7')">7</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('8')">8</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('9')">9</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('+')">+</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('4')">4</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('5')">5</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('6')">6</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('-')">-</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('1')">1</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('2')">2</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="entrada('3')">3</button>
    </div>
    <div class="col-3 rounded-4 py-4">
        <button mat-stroked-button (click)="calcular()">=</button>
    </div>
</div>
