<div class="row w-50 mx-auto mt-5">
    <div class="card">
        <div class="card-body">
            <div class="col-12">
                <mat-progress-bar mode="determinate" [value]="vida"></mat-progress-bar>
            </div>
            <div class="col-12">
                <img [src]="getImagenPokemon(pokemonId)" alt="{{pokemon?.name}}">
            </div>
            <div class="col-12">
                <p>{{pokemon!.name.toUpperCase()}} 
                    <span class="mx-5">
                        <button class="btn btn-primary" (click)="startBattle()" [disabled]="!turnoPokemon">Atacar</button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>