<div class="container-fluid">
    <div class="row mt-2 mb-2 mx-auto">
      @for(vehiculo of vehicleList; track vehiculo.url.split("/")[5]) {
        <div class="col-md-3 col-12 mb-3">
          <div class="card h-100" style="width: 18rem;">
            <img [src]="'https://starwars-visualguide.com/assets/img/vehicles/' + vehiculo.url.split('/')[5] + '.jpg'" class="card-img-top" alt="{{ vehiculo.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ vehiculo.name }}</h5>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  